<h1>Who Are We?</h1>
<br/><br/>
<section>

<p>We specialize in converting your passion and enthusiasm into innovative web design. Wether your company is small or large, we 
  produce work that translates into real world results for your buisness. Our project management approach facilitates clean communication 
  trough the whole process.You will receive peace of mind that your project is completed within a set timeframe and budget.Most 
  importantly, you will be 100% satisfied with the final product.
</p>
</section>
<br/><br/><br/>
  <section>
    <div class="animated pulse"><span><!--h3 get in touch h3 !--></span></div>
     <form method="POST" action="https://formspree.io/garciai0526@hotmail.com">
         
         <div class="contact-info" id="contactDetails">                                         <!--contact-label-1 !-->
         <label class="contact-label-1"><span>Your Name</span>
         <input type="text" name="Name" placeholder="John Doe" class="form-control"></label>
         
         <label class="contact-label-2"><span>Your E-mail</span>
         <input type="email" name="_replyTo" placeholder="youremail@email.com" class="form-control"></label>
         </div>
         
         <label><span>Your Message</span>
         <textarea name="message" placeholder="Your Message Here" class="form-control"></textarea></label>
         
         <div class="submit-wrap">
         <button type="submit" class="btn btn-primary">Submit</button>                                                                                                             
         </div>
       
     </form>
</section>
