
h1{
    margin: 0 auto;
    text-align: center;
    color: #1CAE82;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    max-width: 650px;
    margin: 0 auto;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    max-width: 650px;
    margin: 0 auto 50px;

}

textarea{
    height: 15em;
}
.contact-label-1, .contact-label-2{
    width: 50%;
    float: left;
    box-sizing: border-box;
    
}
.contact-label-1{
    padding-right: 5px;
}
.contact-label-2{
    padding-left: 5px;
}
.msgBox{
    width: 100%;
}

[type="submit"]{
    background-color:rgba(33, 127, 167, 0.753);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%;

}

.submit-wrap{
    text-align: right;

}

[type="submit"]:hover{
    background-color: #217FA7;
}

