#login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.example-card {
    width: 15em;
}

h2 {
    color: darkgreen;
}

img {
    width: 100%;
}

body {
    background-color: green;
}